.dayContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100px;
    height: 100px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

.WeatherContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Dayscontainer {
    display: flex;
}